SERVER_PROD=
SERVER_PROD_USER=root
SERVER_PROD_PROJECT_DIR=/root/traffic-data-web-app
SERVER_PROD_ROOT_LOGIN_MODE=prohibit-password
SSH_PRIVATE_KEY=

REGISTRY_HOST=ghcr.io
REGISTRY_USERNAME=
REGISTRY_PASSWORD=

DEPLOY_IMAGE=
DEPLOY_POSTGRES_DB=traffic_data
DEPLOY_POSTGRES_USER=postgres
DEPLOY_POSTGRES_PASSWORD=postgres
DEPLOY_POSTGREST_DB_URI=postgres://authenticator:localdev_authenticator_password@postgres:5432/traffic_data
DEPLOY_POSTGREST_JWT_SECRET=super-secret-admin-key-for-local-dev-32
DEPLOY_POSTGREST_ANON_ROLE=web_anon
DEPLOY_POSTGREST_ADMIN_ROLE=traffic_admin
DEPLOY_APP_PORT=3000
DEPLOY_POSTGREST_PORT=3001

